*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Texturina", serif;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7000FF;
    padding-top: 40px;
}

.redirects {
    color: white;
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
.social img {
    width: 50px;
    
}
.content {
    display: flex;
    justify-content: space-around;
    padding: 300px 400px 0px 130px;
}
#pic {
    height: 800px;
    border-radius: 50%;
}
.cText {
    padding: 200px 200px 0px 500px;
    font-size: xx-large;
    color: white;
}
.cText strong{
    color: #7000FF;
}